body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

form {
  margin-top: 20px;
}

#weatherInfo {
  margin-top: 20px;
}

#weatherInfo img {
  width: 200px; 
  height: 200px; 
  image-rendering: auto;
}


.error {
  color: red;
  margin-top: 10px;
}